:root {
    --navbar-color: #00A3FF;
    --linksText-color: #FAFAFA;
    --linksText-hover: #ddd;
}

.custom-navbar {
    background-color: var(--navbar-color); /* Color personalizado de la navbar */
}

.custom-navbar .navbar-brand, 
.custom-navbar .nav-link {
    color: var(--linksText-color);  /* Color blanco para los enlaces y la marca */
}

.custom-navbar .nav-link:hover {
    color: var(--linksText-hover);  /* Color de hover más claro para los enlaces */
}

#menu {
    text-align: center;
}

.offcanvas {
    background-color: var(--navbar-color); /* Color de fondo personalizado */
    color: var(--linksText-color); /* Color de texto para asegurarte de que el texto sea legible */
}

.offcanvas.offcanvas-top {
    height: 100%; 
}

.input-group-text, .form-control {
    border-radius: 20px; /* Ajusta el valor según tus preferencias */
}

.navbar-nav {
    display: inline-block;
    justify-content: center; /* Centra los elementos en el contenedor */
    align-items: center;
    width: 100%;
}

.search-bar {
    width: 50%;
    transition: display 0.3s ease;
}

.nav-item {
    margin: 0 10px; /* Ajusta el margen entre los íconos */
}

.form-control {
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/search.svg');
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 25px; /* Espacio suficiente para el icono */
    background-size: 16px; /* Tamaño del icono */
}

/* Estilos para el botón de toggler */
.navbar-toggler {
    border: none; /* Eliminar borde predeterminado */
    background-color: transparent; /* Fondo transparente */
    padding: 0; /* Quitar padding para que se alinee con los íconos */
    margin: 0 5px; /* Espacio a los lados */
}

.navbar-toggler:focus {
    outline: none; /* Eliminar el borde de enfoque */
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

/* Ocultar el nuevo campo de búsqueda por defecto */
.new-search-bar {
    display: none; /* Por defecto, ocultar el nuevo campo de búsqueda */
    width: 100%; /* Hacer que ocupe todo el ancho */
    margin: 10px 0; /* Añadir margen si es necesario */
}
.navbar-toggler:focus {
    outline: none; /* Eliminar el borde de enfoque */
    box-shadow: none; /* Eliminar la sombra de enfoque */
}


/* Mostrar el nuevo campo de búsqueda en pantallas pequeñas */
@media (max-width: 600px) {
    .search-bar {
        display: none; /* Ocultar la barra de búsqueda original */
    }
    .new-search-bar {
        display: block; /* Mostrar el nuevo campo de búsqueda */
    }
}


.item img{
    height: 300px;
    width: 100%;
}
.card{
    overflow: hidden;
    position: relative;
}
.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(5px);   
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.card:hover .card-body{
    right: 0;
}