

:root {
    --navbar-color: #00A3FF;
    --linksText-color: #FAFAFA;
    --linksText-hover: #ddd;
}

.custom-navbar {
    background-color: var(--navbar-color); /* Color personalizado de la navbar */
}

.custom-navbar .navbar-brand, 
.custom-navbar .nav-link {
    color: var(--linksText-color);  /* Color blanco para los enlaces y la marca */
}

.custom-navbar .nav-link:hover {
    color: var(--linksText-hover);  /* Color de hover más claro para los enlaces */
}
#menu{
    text-align: center;
}

.navbar-nav {
    display: inline-block; /* Permite centrar la lista de navegación */
}

.offcanvas {
    background-color: var(--navbar-color); /* Color de fondo personalizado */
    color: var(--linksText-color); /* Color de texto para asegurarte de que el texto sea legible */
}


.offcanvas.offcanvas-top {
    height: 100%; 
}

.input-group-text, .form-control {
    border-radius: 20px; /* Ajusta el valor según tus preferencias */
}





.form-control {
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/search.svg');
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 20px; /* Espacio suficiente para el icono */
    background-size: 14px; /* Tamaño del icono */
}


@media (max-width: 350px) {
    .form-control {
        background-image: none; /* Oculta el icono de búsqueda */
        padding-left: 10px; /* Ajusta el padding cuando no esté el icono */
        height: 1.2em; /* Ajusta la altura del input */
        min-width: 60px !important;
        font-size: 0.8em;
    }
    .navbar-toggler {
        width: 1.2em; /* Reducimos el tamaño general del botón */
        height: 1.2em;
        padding: 0.2em; /* Reducimos el espacio interno */
        margin: 0 auto; /* Centramos el botón */
        border: 2px solid transparent; 
        display: flex;
        justify-content: center;
        align-items: center;/* Reduces el borde o puedes cambiarlo */
    }

    .navbar-toggler-icon {
        width: 1em;  /* Ajustamos el tamaño del ícono */
        height: 1em;
        background-size: 80%;  /* Hacemos el ícono más pequeño */
    }
    /* Reducción del tamaño de los iconos en los enlaces de navegación */
    .navbar-nav .nav-link i {
        font-size: 0.8em !important;  /* Ajusta este valor según necesites el tamaño */
        display: flex;
        justify-content: center;
        align-items: center;/* Reduces el borde o puedes cambiarlo */
    }
}
